<%- include('./partials/header.ejs') %>

    <body>
        <div class="container"></div>
        <h1>Welcome to Homepage</h1>

        <div class="d-grid gap-2 d-md-block">
            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/register" class="btn btn-primary">Sign Up</a>
        </div>
    </body>

    </html>